In [1]:
import pandas as pd
import evaluation_helper as eval

# Read in data

features = pd.read_csv('../data/answer.csv', sep=';', nrows=100000, skiprows=[i for i in range(1, 5000000)])

features.head(5)

,id,user,place_asked,place_answered,type,inserted,response_time,place_map,language,options,ip_country,ip_id
0,5014157,61806,184,184.0,1,2014-12-23 20:04:50,2150,230,0,[],CZ,23178
1,5014158,61806,203,203.0,1,2014-12-23 20:04:52,2081,230,0,[],CZ,23178
2,5014159,58920,1173,1173.0,2,2014-12-23 20:04:52,3170,231,0,"[1172, 1165, 1173]",CZ,23031
3,5014160,61806,176,176.0,1,2014-12-23 20:04:55,2207,230,0,[],CZ,23178
4,5014161,58920,1055,1055.0,2,2014-12-23 20:04:56,3017,231,0,"[1083, 1108, 1055]",CZ,23031

In [2]:
# Parsing labels
import numpy as np
questions = np.array(features['place_asked'])
answers = np.array(features['place_answered'])
labels = np.equal(questions, answers)
labels = list(map(lambda x: 1 if x else 0, labels))
labels = np.array(labels)

In [3]:
# Removing answers from features
features = features.drop('place_answered', axis=1)
# TODO parse date
features = features.drop('inserted', axis=1)
# Removing non-important or missing features
features = features.drop('place_map', axis=1)
features = features.drop('ip_country', axis=1)
features = features.drop('ip_id', axis=1)
features.describe()

,id,user,place_asked,type,response_time,language
count,1.000000e+04,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000
mean,5.019157e+06,60322.150100,418.630300,1.135500,3.695857e+07,0.171900
std,2.887106e+03,6284.409444,430.464876,0.342274,2.792196e+08,0.392385
min,5.014157e+06,17083.000000,1.000000,1.000000,1.690000e+02,0.000000
25%,5.016658e+06,61580.000000,112.000000,1.000000,2.879750e+03,0.000000
50%,5.019158e+06,61819.000000,196.000000,1.000000,4.316000e+03,0.000000
75%,5.021657e+06,61858.000000,676.250000,1.000000,7.246250e+03,0.000000
max,5.024157e+06,61920.000000,1318.000000,2.000000,2.147484e+09,2.000000

In [4]:
# Parsing options to number of options
features['options'] = features['options'].apply(lambda x: len(x[1:-1].split(",")))

# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)

In [5]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (7500, 7)
Training Labels Shape: (7500,)
Testing Features Shape: (2500, 7)
Testing Labels Shape: (2500,)

In [6]:
# The baseline predictions are the historical averages
averages = np.array([1 for x in range(0, len(test_labels))])
# Baseline errors, and display average baseline error
baseline_errors = abs(averages - test_labels)
print("##############################BASELINE###################################")
print('Accuracy: ', eval.accuracy(test_labels, averages))
print('RMSE: ', eval.rmse(averages, test_labels))
print('AUC: ', eval.auc(list(map(int,test_labels)), averages))
print('Pearson: ', eval.pearson(averages, test_labels))

##############################BASELINE###################################
Average baseline error:  0.25
Correct 0   613
Correct 1   1887
Predictions > 0.5   2500
Accuracy:  0.7548
RMSE:  0.49517673612559787
Pearson:  0.0

In [7]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels)

# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print("##############################TEST SET###################################")
print('Accuracy: ', eval.accuracy(test_labels, averages))
print('RMSE: ', eval.rmse(predictions, test_labels))
print('AUC: ', eval.auc(list(map(int,test_labels)), predictions))
print('Pearson: ', eval.pearson(predictions, test_labels))

##############################TEST SET###################################
Average baseline error: 0.28
Correct 0   613
Correct 1   1887
Predictions > 0.5   2500
Accuracy:  0.7548
RMSE:  0.3888097807411743
Pearson:  -1.9949536951421423
AUC:  0.7709696550018976

In [8]:
print("##############################FEATURES IMPORTANCE###################################")
# Get numerical feature importances
importances = list(rf.feature_importances_)
# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(feature_list, importances)]
# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)
# Print out the feature and importances
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances]

##############################FEATURES IMPORTANCE###################################
Variable: response_time        Importance: 0.35
Variable: id                   Importance: 0.27
Variable: place_asked          Importance: 0.22
Variable: user                 Importance: 0.09
Variable: options              Importance: 0.04
Variable: language             Importance: 0.02
Variable: type                 Importance: 0.01

[None, None, None, None, None, None, None]